

<div id="cart">
    <div class="firstRow">
        <span class="telephonNumber">(044) 222 5 222</span>
        <span class="timeOfWork">24 години/7 днів на тиждень</span>
        <span class="freeDelivery">Безкоштовна доставка піци</span>
        <div type="button" class="main-header-top-item btn btn-warning sign-in-button">
            Ввійти
        </div>
    </div>
    <div class="secondRow">
        <span class="pizzaLabel"><b>Піца</b></span>
    </div>
</div>

<div class="image1">
    <img src="assets/images/discount.svg" class="topPizzaKMA">
    <div class="KMAlabel">Pizza</div>
    <div class="KMAlabel-2">KMA</div>
</div>

<div class="image2">
    <img src="assets/images/discount.svg" class="bottomPizzaKMA">
    <span class="saleLabel"><b>Цього тижня на все</b></span>
    <span class="percentSaleLabel"><b><i>-20%</i></b></span>
</div>



